<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
  <head>
	<meta charset="utf-8">
	<title>Visual Search Task</title>
    <link rel="stylesheet" href="modules/stylesheets/style.css" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/qtip2/2.1.0/jquery.qtip.min.css" />
    <link rel="stylesheet" href="modules/lib/bootstrap/css/bootstrap.min.css" media="all" />
  </head>
  <body>
    <div class="main"><svg></svg></div>
	<script type="text/javascript" src="modules/lib/d3/d3.v3.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/qtip2/2.1.0/jquery.qtip.min.js"></script>

